@font-face {
    font-family: 'Fredoka';
    font-weight: 500;
    src: local(''),
    url('../fonts/fredoka-v9-latin-500.woff2') format('woff2'),
    url('../fonts/fredoka-v9-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Fredoka';
    font-weight: 700;
    src: local(''),
    url('../fonts/fredoka-v9-latin-700.woff2') format('woff2'),
    url('../fonts/fredoka-v9-latin-700.woff') format('woff');
}


body{
    background-color: rgba(0, 119, 255, 0.324);
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero__top{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: rgb(249, 3, 3);
    margin-left: 100px;
    cursor: pointer;
    max-width: 300px;
    padding: 30px 0;
    font-family: 'Fredoka';
    font-weight: 700;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    transition: all ease 0.5s;
    color: #fff;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgb(3, 25, 134) 0px 0px 0px 4px;
    transform: scale(1.05);
}
.btn:active{
    background-color: rgba(249, 3, 3, 0.53);
}
.btn__1{
    background-color: rgb(79, 137, 9);
}
.btn__2{
    background-color: rgb(145, 9, 100);
}
.btn__both{
    background-color: rgb(49, 49, 241);
}
.btn__clean{
    background-color: rgb(6, 114, 104);
}
.logo__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 360px;
    border: 3px solid rgba(0, 0, 0, 0);
    margin: 10px;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    transition: all ease 0.5s;
}
.list__item:hover{
    transform: scale(1.03);
    background-color: rgba(6, 52, 3, 0.74);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #fff;
}
h3,h4,h5,h6{
    font-size: 18px;
    margin-bottom: 1px;
}
a{
    font-family: 'Fredoka';
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    width: 100px;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}
a:hover{
    background-color: #fff;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 0 2px;
}
a:active{
    background-color: rgba(255, 255, 255, 0.527);
}
button{
    border: none;
    outline: none;
    background: none;
    font-family: 'Fredoka';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 116px;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 20px;
    transition: all ease 0.3s;   
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 0 2px;
}
button:active{
    background-color: rgba(255, 255, 255, 0.527);
}